
.searchBarWrapper {
  padding: 12px;
  background: #fff;
}

.searchBarWrapper .form-control{
  width: 91%;
}

.tagsTitle{
  margin: 0;
  margin-right: 12px;
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 1.56;
  letter-spacing: normal;
  color: #919aa3;
}

.tagItem{
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
  background-color: #d2d2d2;
  color: #717b82;
  padding: 1px 4px;
  border-radius: 4px;
  font-size: 12px;
}

.tagItemActive{
  background-color: #ff4300;
  color: #fff;
  
}

.listWrapper {
  overflow: scroll;
  position: relative;
}

.listItem{
  display: flex;
}

.bigImageWrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  right: 0;
  z-index: 9;
}

.bigImage {
  /*display: none;*/
}


.imageWrapper{
  min-width: 140px;
  min-height: 90px;
  max-width: 140px;
  max-height: 140px;
  overflow: hidden;
  position: relative;
}

.imageWrapper img{
  width: 100%;
  object-fit: cover;
  display: inherit;
}

.detailsWrapper{
  margin: 0 12px;
}

.detailsWrapper h4{
  font-size: 18px;
}

.detailsWrapper p {
  margin-right: 18px;
  color: #919aa3;
}
.detailsWrapper h4 a,
.detailsWrapper p a{
  color: #919aa3;
}

.detailsWrapper h4 a:hover,
.detailsWrapper p a:hover{
  color: #ff4300;
  
}

/*Bootstrap button overrides*/
.btn-outline-primary{
  color: #ff4300;
  border-color: #ff4300;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover {
  color: #fff;
  background-color: #ff4300;
  border-color: #ff4300;
  outline: none;
  box-shadow: none;
}